.divConteinerHome {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../card/img/bosque.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.h1Home {
    background-color: antiquewhite;

}