@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

.divLanding {
	background-image: url("./img/habitacionNocturna.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	/* background-size: cover; */
	height: 1030px;
	margin: 0;
}
.divLanding h3 {
	margin: 0px;
	padding-top: 10%;
	color: white;
	font-size: 200px;
	font-family: "Jersey 10", sans-serif;
	text-shadow: -15px 2px 7px rgba(0, 0, 0, 0.692);
}

.divLanding button {
	width: 200px;
	height: 100px;
	border-radius: 40px;
	font-size: 40px;
	font-family: "Jersey 10", sans-serif;
	transition: box-shadow 0.3s ease;
	&:hover {
		background-color: rgba(164, 237, 215, 0.752);
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.79);
	}
}
.hLanding {
	color: black;
	font-size: 100px;
}

/* @media (min-width: 1920px) {
	.divLanding h3 {
		font-size: 150px; 
	}
	.divLanding button {
		width: 300px;
		height: 150px;
		font-size: 50px;
	}
	.hLanding {
		font-size: 120px;
	}
} */

@media (min-width: 2560px) and (min-height: 1440px) {
	.divLanding h3 {
		font-size: 120px; /* Ajusta los tamaños específicos para pantallas grandes */
	}
	.divLanding button {
		width: 250px;
		height: 125px;
		font-size: 40px;
	}
	.hLanding {
		font-size: 80px;
	}
}
