@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
.divDescktop {
	display: flex;
	width: auto;
	height: auto;
}
.divConteinerNav {
	background-color: rgba(101, 41, 33, 0.972);
	border-bottom: 5px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black;
	border-radius: 0px 0px 10px 10px;
	width: 99.6%;
	height: 100px;
	display: flex;
	flex-direction: row;

	justify-content: center;
}
.divPokedex {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
	/* font-size: ; */
	padding: 5px 10px;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}
.divPokedex h2 {
	margin-top: 2%;
	margin-bottom: 0px;
	padding-top: 2%;
	padding-bottom: 0px;
}
.divForms {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100%;
}

.divForms a {
	width: 80%;
	height: 80%;
}
.divForms button {
	font-size: large;
	height: 100%;
	width: 100%;
	font-weight: 900;
	color: black;
	font-size: x-large;
	padding: 5px 10px;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	background-color: rgba(241, 191, 120, 0.638);
	&:hover {
		background-color: rgba(101, 230, 174, 0.752);
		color: black;
		border: 4px solid rgba(8, 7, 7, 0.719);
	}
	border: 3px solid black;
	border-radius: 35px;
}

.searchName {
	/* background-color: rgb(0, 255, 98); */
	width: 550px;
	/* padding: 20px; */
	display: flex;
	align-items: center;
	/* justify-content: space-evenly; */
}
.searchName input {
	width: 250px;
	height: 40px;
	border-radius: 15px;
	padding-left: 3%;
	font-size: large;
	font-weight: 600;
	background-color: rgba(167, 143, 109, 0.638);
	color: black;
	margin-right: 1%;
}
.searchName input::placeholder {
	color: rgba(0, 0, 0, 0.813);
}

.buttonSearch {
	width: 50px;
	height: 40px;
	border-radius: 20px;
	margin-right: 3%;
	font-size: xx-small;
	font-weight: 900;
	&:hover {
		background-color: rgba(101, 230, 174, 0.752);
	}
}

.buttonAll {
	width: 150px;
	height: 40px;
	&:hover {
		background-color: rgba(101, 230, 174, 0.752);
	}
}

.divLogOut {
	/* background-color: red; */
	width: 160px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.divLogOut button {
	font-size: large;
	height: 40px;
	padding: 5px 10px;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	&:hover {
		background-color: rgba(101, 230, 174, 0.752);
	}
}

@media (max-width: 600px) {
	.divConteinerNav {
		width: 90%;
		height: 100%;
	}
	.divConteinerNavMobile {
		/* display: flex; */
		/* flex-direction: column; */
		width: 100%;
		height: 100%;
		/* position: fixed; */
		/* z-index: 9999; */
	}
	.divMenuMobile {
		width: 100%;
		display: flex;
		flex-direction: row;
		height: 10vh;
		pad: 0;
		margin: 0;
		align-items: center;
	}
	.divMenuMobile button {
		width: 20%;
		margin: 0;
		height: 70%;
		padding: 0;
	}
	.divMenuMobile button h4 {
		font-size: 120%;
		font-weight: 900;
		width: 75%;
		height: 100%;
		margin: 0;
		transform: rotate(90deg);
	}
	.DivMenuMobileNavBar {
		background-color: rgba(101, 41, 33, 0.972);
		border-left: 3px solid black;
		border-right: 3px solid black;
		border-bottom: 3px solid black;
		border-radius: 0 0 10px 10px;
		width: 88%;
		height: auto;
		position: fixed;
		z-index: 9999;
		top: 10.5vh;
	}
	.divConteinerNavMobile {
		/* background-color: yellow; */
		height: 100%;
	}
	.divForms {
		margin-top: 5%;
		/* background-color: red; */
		width: 100%;
		height: 15vh;
	}
	.divForms button {
		width: 100%;
		height: 100%;
		font-size: 120%;
	}
	.searchName {
		width: 100%;
		margin-bottom: 5%;
	}
	.searchName input {
		margin-left: 5%;
		width: 60%;
	}
	.searchName button {
		width: 20%;
	}
	.divAllPokemons {
		width: 100%;
		height: 8vh;
	}
	.divAllPokemons button {
		width: 80%;
		height: 80%;
	}
	.divPokedex {
		display: flex;
		flex-direction: row-reverse;
		width: 70%;
		margin: 0;
	}
	.divLogOut {
		width: 100%;
		height: 8vh;
		margin-bottom: 5%;
	}
	.divLogOut a {
		width: 80%;
		height: 80%;
	}
	.divLogOut button {
		height: 100%;
		width: 100%;
	}
}
