.divGeneralDesdeCards {
	width: 1700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divHijoCards {
	display: flex;
	/* background-color: rgba(7, 33, 29, 0.713); */
	background-color: rgba(241, 191, 120, 0.638);
	backdrop-filter: blur(5px);
	width: 1500px;
	padding-top: 1%;
	padding-bottom: 1%;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	border: 5px solid black;
	border-radius: 10px;
}

.paginadoBelow span {
	color: rgb(255, 255, 255);
	font-size: xx-large;
	font-weight: 900;
}
.paginadoBelow {
	width: 1500px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.paginadoleft {
	border-radius: 15px 3px 3px 15px;
}
.paginadoRight {
	border-radius: 3px 15px 15px 3px;
}

.paginadoBelow button {
	width: 120px;
	height: 50px;
	/* border-radius: 20px; */
	margin-left: 20px;
	margin-right: 20px;
	font-size: large;
	transition: box-shadow 0.3s ease;
	&:hover {
		background-color: rgba(101, 178, 230, 0.752);
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.79);
	}
}
