@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

.filtros {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	width: 60%;
	height: 50px;
	padding: 5px;
	padding-top: 15px;

	/* margin-top: 10px; */
	margin-bottom: 10px;
	background-color: rgba(241, 191, 120, 0.638);
	color: black;
	font-size: 25px;
	font-family: "Jersey 10", sans-serif;
	border-bottom: 5px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black;
	border-radius: 0px 0px 10px 10px;

	/* border: 3px solid black;
	border-radius: 15px; */
}

.filtroTypes {
	display: flex;
	flex-direction: row;
	align-items: center;
	label {
		font-size: 35px;
		font-family: "Jersey 10", sans-serif;
		font-weight: 900;
		margin-right: 7px;
	}
	select {
		height: 100%;
		width: 150px;
		font-weight: 900;
	}
}

.filtros select {
	margin-top: 5px;
	height: 30px;
	font-family: "Jersey 10", sans-serif;
	font-size: 25px;
	border-radius: 4px;
}

.filtroAZ {
	display: flex;
	flex-direction: row;
	align-items: center;
	label {
		font-size: 35px;
		font-family: "Jersey 10", sans-serif;
		font-weight: 900;
		margin-right: 7px;
	}
	select {
		height: 100%;
		width: 150px;
		font-weight: 900;
	}
}

.filtroDBoAPI {
	display: flex;
	flex-direction: row;
	align-items: center;
	label {
		font-size: 35px;
		font-family: "Jersey 10", sans-serif;
		font-weight: 900;
		margin-right: 7px;
	}
	select {
		height: 100%;
		width: 150px;
		font-weight: 900;
	}
	select option {
		padding-left: 10%;
	}
}

@media (max-width: 412px) {
	.filtros {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 80%;
	}
	.filtroTypes {
		width: 90%;
		label {
			width: 50%;
		}
	}
	.filtroAZ {
		width: 90%;
		label {
			width: 50%;
		}
	}
	.filtroDBoAPI {
		width: 90%;
		label {
			width: 50%;
			margin-right: 10%;
		}
	}
}
